.root {
  display: flex;
}

.main {
  z-index: 1;
  width: 80%;
  margin-left: 8rem;
  padding: 2rem;
}

.projects {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.project {
  padding: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.project .gallery li button:before {
  color: white !important;
}

.project .gallery img {
  border-radius: 8px;
}

.project .description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project .description p {
  text-indent: 40px;
  text-align: justify;
}

.projects ul.projects_list {
  padding: 0 2rem;
  list-style-type: none;
  font-family: "Outfit", sans-serif;
  align-self: flex-start;
}

.projects ul.projects_list li {
  font-size: 1rem;
  letter-spacing: 0.5px;
  margin: 1.5rem 0;
  cursor: pointer;
}

.projects ul.projects_list li:hover {
  color: #35ebff;
}

.projects ul.projects_list li.active {
  color: #35ebff;

  font-weight: 500;
}

.projects ul.projects_list li.active::before {
  content: "> ";
}

.projects ul.projects_list li:first-child {
  font-size: 1.5rem;
  cursor: auto;
}

.projects ul.projects_list li:first-child:hover {
  color: white;
}

.project h2 {
  font-family: "Outfit", sans-serif;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.project .description p {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 8px 0;
  margin-bottom: 1.5rem;
  line-height: 2rem;
  color: #eee;
  font-family: "Roboto", monospace;
}

.project .buttons a {
  font-family: "Outfit", sans-serif;
  background-color: rgb(80, 70, 80);
  color: white;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  margin-right: 6px;
}

.project .buttons .demo_link {
  background-color: #007bff;
}

.project .buttons .demo_link:hover {
  background-color: #3295ff;
}

.project .buttons .github {
  background-color: purple;
}
.project .buttons .github:hover {
  background-color: rgb(161, 22, 161);
}

.project .buttons .button_disabled {
  background-color: #666 !important;
  cursor: not-allowed;
}

.project .buttons .button_disabled:hover {
  background-color: #666;
}
.project .buttons a i {
  margin-left: 0.5rem;
}

h2.projects_list_mobile {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

ul.projects_list_mobile {
  list-style-type: none;
  display: flex;
  max-width: 100%;
  align-items: center;
  overflow-x: scroll;
}

ul.projects_list_mobile li {
  margin: 1rem 0.5rem;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
}

ul.projects_list_mobile li.active {
  color: #35ebff;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
  .main {
    width: 100%;
    margin: 0;
  }
  .project {
    width: 100%;
    margin-bottom: 3rem;
    padding: 0;
  }

  .projects {
    flex-direction: column;
  }

  .projects ul.projects_list {
    display: none;
  }

  .project .description {
    padding: 1rem 0;
  }

  .project .description p {
    margin: 1rem 0;
  }

  .project .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .project .buttons a {
    text-align: center;
    display: block;
    margin: 4px 0;
    padding: 0.7rem 0;
    width: 100%;
  }
}
