.root {
  display: flex;

  overflow-y: hidden;
}

.wrapper {
  z-index: 1;

  width: 100%;

  display: flex;
  justify-content: center;
  margin-left: 7rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 2rem;
}

.article_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.article_header h1 {
  font-family: "Outfit", sans-serif;
  margin: 1rem 0;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #eee;
}

.article_header span {
  letter-spacing: 1px;

  font-style: italic;
}

.image_container {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.image_container .image {
  background-image: url("/images/article1.jpg"); /* Replace 'your-image.jpg' with your actual image URL */
  background-size: cover; /* Scale the image to cover the container */
  background-position: center; /* Position the image in the center */
  width: 100%;
  height: 100%;
}

.main .categories {
  display: flex;
  margin-bottom: 1rem;

  align-self: flex-start;
}

.main .categories .category {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Outfit", sans-serif;
  color: white;
  border-radius: 50px;
  background-color: #0d2672;
  line-height: 1.5rem;
  padding: 0 0.5rem;
  font-weight: 500;
}

.main article {
  font-size: 18px;
  line-height: 2.5rem;
  max-width: 90%;
  font-family: "Roboto", sans-serif;
  padding: 0 4rem;
  color: #eee;
}

.main article a {
  color: inherit;
}

.main article p {
  letter-spacing: 0.5px;
}

.main article h1,
.main article h2,
.main article h3 {
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  color: #35bdff;
  margin: 4px 0;
}

.main article img {
  max-width: 100%;
  border-radius: 16px;
  margin: 0.5rem auto;
}

.main article code {
  font-size: 14px;
  line-height: 1.5rem;
  border-radius: 16px;
  margin: 0.5rem 0;
}

/* Reset default list styles */
.main article ol {
  list-style: none;
  counter-reset: ordered-list-counter;
  padding-left: 20px;
}

/* Style for list item numbering */
.main article ol li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

/* Create a custom number style */
.main article ol li:before {
  content: counter(ordered-list-counter);
  counter-increment: ordered-list-counter;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px; /* Adjust font size as needed */
  color: #007bff; /* Change color to your preferred color */
  font-weight: bold;
  margin-right: 10px;
}

/* Style for the last list item (remove the line at the bottom) */
.main article ol li:last-child:after {
  display: none;
}

.article_footer {
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.5px;
  margin-top: 2rem;
  width: 100%;
  text-align: left;
  padding: 1rem 0;
  border-top: 1px solid #eee;
  color: #eee;
  font-style: italic;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .article_header h1 {
    font-size: 1.5rem;
  }

  .main article {
    font-size: 16px;

    padding: 0 2rem;
  }

  .article_header span {
    font-size: 0.75rem;
  }

  .main .categories .category {
    font-size: 13px;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
  .main {
    width: 100%;
    padding-bottom: 4.5rem;
  }
  .main .categories .category {
    font-size: 12px;
  }
  .article_header span {
    font-size: 0.75rem;
    padding: 8px;
    display: none;
  }
  .article_header h1 {
    font-size: 1.5rem;
  }

  .wrapper {
    margin: 0;
    padding: 0 1rem;
  }

  .main article {
    font-size: 16px;
    line-height: 2.5rem;

    padding: 0;
  }

  .image_container {
    height: 25vh;
  }
}
