.card {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 380px;
  border: 1px solid #15284b;

  border-radius: 13px;
  color: white;
  padding: 1rem;
  margin: 1rem;
}

.card:hover {
  border: 1px solid #35bdff;
}

.card > img {
  width: 100%;
  border-radius: 13px;
}

.card > h1 {
  font-family: "Outfit", sans-serif;
  margin: 0.5rem 0;
  font-size: 18px;
  text-align: left;
  font-weight: 500;
  letter-spacing: 1px;
}

.card .categories {
  display: flex;
}

.card .categories .category {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Outfit", sans-serif;
  color: white;
  border-radius: 50px;
  background-color: #0d2672;
  line-height: 1.5rem;
  padding: 0 0.5rem;
  font-weight: 500;
}

.card .description {
  text-align: left;
  margin-top: 0.5rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;

  font-size: 14px;
  line-height: 1.5rem;
}
