.root {
  display: flex;
}

.main {
  position: relative;
  z-index: 1;
  margin-left: 7rem;
  width: 100%;
  min-height: 95vh;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.main > h1 {
  text-align: center;
  font-size: 28px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
}

.main > .blogCards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

@media only screen and (max-width: 767px) {
  .main {
    margin: 0;
    margin-bottom: 5rem;
    min-height: 90vh;
  }

  .main > .blogCards {
    justify-content: center;
    padding: 0;
  }

  .main > .blogCards {
    margin-bottom: 2rem;
  }

  .main > h1 {
    font-size: 22px;
  }
}
